#mapa {
  height: 500px;
  width: 100%;
  max-width: 100%;
  border-radius: 12px;
  overflow: hidden;
  z-index: 0;
}

.leaflet-popup-content {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  color: #1f2937;
}
